<!-- group_detail.html -->
{% extends "gestionapp/base.html" %}
{% block title %}Détail Groupe{% endblock %}
{% block content %}
  <h2>Détails du groupe {{ group.nom }}</h2>
  <p class="intro">Informations détaillées. Vous pouvez modifier ou supprimer.</p>
  <ul><li>ID: {{ group.id }}</li><li>Nom: {{ group.nom }}</li></ul>
  <a class="button" href="{% url 'group_update' group.pk %}">Modifier</a>
  <a class="button danger" href="{% url 'group_delete' group.pk %}">Supprimer</a>
  <a class="button link" href="{% url 'group_list' %}">Retour à la liste</a>
{% endblock %}